footer {
    background-color: #B8A67E;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.footer-content p {
    margin: 0;
}

.footer-content .social-icons {
    display: flex;
    gap: 10px;
}

.footer-note {
    margin: 0;
    text-align: right;
    flex-grow: 1;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}