body {
    font-family: 'Alata', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.containerArticles {
    width: 50%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 18px;
    color: #333;
}

.containerArticles ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.containerArticles li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

li button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    flex-grow: 1;
}


button.ajouter, button.export-button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5a4d42;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button.export-button {
    width: 50%;
    margin: 20px auto;

}

button.ajouter:hover , button.export-button:hover {
    background: #8b5e3c;
}



button.supprimer {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #d9534f;
    padding: 5px;
}

button.supprimer:hover {
    color: #c9302c;
    background: none; 
    outline: none; 
}


a {
    text-decoration: none;
}



#product-details input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
}
#product-details button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#product-details {
    width: 50%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    
}

#product-details h3 {
    text-align: center;
    font-size: 20px;
    color: #333;
}

#product-details input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.product-image {
    display: block;
    margin: 10px auto;
    max-width: 100px;
    border-radius: 5px;
}

.save-button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5a4d42;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button:hover {
    background: #8b5e3c;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.containerArticles, #product-details {
    width: 40%; 
}

#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8, #addFamilleBtn, #addSousFamilleBtn {
    width: 25%;
    padding: 10px;
    background: #5a4d42;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  
    margin-top: 10px;
    margin-left: 20px;
}




input[type="text"], input[type="email"] {
    font-family: 'Alata', sans-serif;
    font-size: 16px;
    border: 1.5px solid #5A4328;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #EEE7D8;
}

textarea{

    width: calc(100% - 20px);
    font-size: 16px;
    border: 1.5px solid #5A4328;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #EEE7D8;
}
input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
    color: #B8A67E;
}

#product-details select {
    width: calc(100%);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #EEE7D8;
}



.current-photos img {
    width: 20vw;
    height: 20vw;
}

